<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="HaymanReadModelEntities" connectionString="metadata=res://*/HaymanReadModel.csdl|res://*/HaymanReadModel.ssdl|res://*/HaymanReadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MICHEL;Initial Catalog=HaymanReadModel;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>