<section role="content">
	<section role="body">

	<article class="full-block clearfix">
		<header>
			<h2>Meta Modelling</h2>

			<nav>
				<ul class="tab-switch">
					<li><a rel="tooltip" title="Edit" id="viewselector.edit">Edit</a></li>
					<li><a rel="tooltip" title="Default View" id="viewselector.graph" class="default-tab current">Graph</a></li>
				</ul>
			</nav>
		</header>
				
		<div class="tab default-tab sidetabs" id="view.graph">
			<!-- Side Tab Navigation -->
			<nav class="sidetab-switch">
				<ul>
					<li><a class="default-sidetab" href="">Model One</a></li>
					<li><a href="">Model Two</a></li>
					<li><a href="">Sample Model</a></li>
					<li><a href="">Business</a></li>
					<li><a href="">Shared Model</a></li>
					<li><a href="">Another one...</a></li>
				</ul>
				<p>Click here to add a model.</p>
			</nav>
			<!-- /Side Tab Navigation -->
						
			<!-- Side Tab Content #sidetab1 -->
			<div class="sidetab default-sidetab" id="sidetab1">
				<h3>Topic</h3>
				<p>TabPage 1</p>
			</div>
			<!-- /Side Tab Content #sidetab1 -->
						
			<!-- Side Tab Content #sidetab2 -->
			<div class="sidetab" id="sidetab2">
				<h3>Topic</h3>
				<p>TabPage 2</p>
			</div>
			<!-- /Side Tab Content #sidetab2 -->
						
			<!-- Side Tab Content #sidetab3 -->
			<div class="sidetab" id="sidetab3">
				<h3>Topic</h3>
				<p>TabPage 3</p>
			</div>
			<!-- /Side Tab Content #sidetab3 -->
						
		</div>

		<div class="tab" id="view.edit">
			<p>Edit View</p>
		</div>

	</article>

	</section>
	<section role="script">
		// Content box tabs and sidetabs
		$('.tab, .sidetab').hide(); // Hide the content divs
		$('.default-tab, .default-sidetab').show(); // Show the div with class 'default-tab'

		$('tab-switch a').click();
			
		// Check to see if a view is selected
		var selectedView = amplify.store('view.metamodelling.view');
		if (selectedView) {
			$("div.tab id['" + selectedView + "']").addClass('current');
		}
		else {
			// Set the class of the default tab link to 'current'
			$('.tab-switch a.default-tab, .sidetab-switch a.default-sidetab').addClass('current');
		}
			
			
		if (window.location.hash && window.location.hash.match(/^#tab\d+$/)) {
			var tabID = window.location.hash;

			$('.tab-switch a[href=' + tabID + ']').addClass('current').parent().siblings().find('a').removeClass('current');
			$('div' + tabID).parent().find('.tab').hide();
			$('div' + tabID).show();
		} else if (window.location.hash && window.location.hash.match(/^#sidetab\d+$/)) {
			var sidetabID = window.location.hash;

			$('.sidetab-switch a[href=' + sidetabID + ']').addClass('current');
			$('div' + sidetabID).parent().find('.sidetab').hide();
			$('div' + sidetabID).show();
		}

		$('.tab-switch a').click(
		function () {
			var tab = $(this).attr('href'); // Set variable 'tab' to the value of href of clicked tab
			$(this).parent().siblings().find('a').removeClass('current'); // Remove 'current' class from all tabs
			$(this).addClass('current'); // Add class 'current' to clicked tab
			$(tab).siblings('.tab').hide(); // Hide all content divs
			$(tab).show(); // Show the content div with the id equal to the id of clicked tab
			$(tab).find('.data').trigger('visualizeRefresh'); ; // Refresh jQuery Visualize
			$('.fullcalendar').fullCalendar('render'); // Refresh jQuery FullCalendar
			return false;
		});

		$('.sidetab-switch a').click(
		function () {
			var sidetab = $(this).attr('href'); // Set variable 'sidetab' to the value of href of clicked sidetab
			$(this).parent().siblings().find('a').removeClass('current'); // Remove 'current' class from all sidetabs
			$(this).addClass('current'); // Add class 'current' to clicked sidetab
			$(sidetab).siblings('.sidetab').hide(); // Hide all content divs
			$(sidetab).show(); // Show the content div with the id equal to the id of clicked tab
			$(sidetab).find('.data').trigger('visualizeRefresh'); ; // Refresh jQuery Visualize
			$('.fullcalendar').fullCalendar('render'); // Refresh jQuery FullCalendar

			return false;
		});
	</section>
</section>