<section role="content">
	<section role="body">
		<article class="full-block clearfix">
			<header>
				<h2>
					Dashboard</h2>
			</header>
			
			<!-- Notification -->
			<div class="notification success">
				<a href="" class="close-notification" title="Hide Notification" rel="tooltip">x</a>
				<p>
					<strong>Success notification</strong> Lorem ipsum dolor sit amet, consectetur adipiscing
					elit. Proin vulputate, sapien quis fermentum luctus, libero.</p>
			</div>
			<!-- /Notification -->
			<!-- Notification -->
			<div class="notification information">
				<a href="" class="close-notification" title="Hide Notification" rel="tooltip">x</a>
				<p>
					<strong>Information notification</strong> Lorem ipsum dolor sit amet, consectetur
					adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero.</p>
			</div>
			<!-- /Notification -->
			<!-- Notification -->
			<div class="notification attention">
				<a href="" class="close-notification" title="Hide Notification" rel="tooltip">x</a>
				<p>
					<strong>Attention notification</strong> Lorem ipsum dolor sit amet, consectetur
					adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero.</p>
			</div>
			<!-- /Notification -->
			<!-- Notification -->
			<div class="notification note">
				<a href="" class="close-notification" title="Hide Notification" rel="tooltip">x</a>
				<p>
					<strong>Note</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
					vulputate, sapien quis fermentum luctus, libero.</p>
			</div>
			<!-- /Notification -->
		</article>
	</section>
	<section role="script">
			// Notification Close Button
			$('.close-notification').click(
			function () {
				$(this).parent().fadeTo(350, 0, function () { $(this).slideUp(600); });
				return false;
			});
	</section>
</section>
