<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
    <add name="HaymanReadModelEntities" connectionString="metadata=res://*/Hayman.ReadModel.csdl|res://*/Hayman.ReadModel.ssdl|res://*/Hayman.ReadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MICHEL;Initial Catalog=HaymanReadModel;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <bindings />
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <client>
      <endpoint address="http://localhost:1338/CommandService" binding="basicHttpBinding"
        contract="Ncqrs.CommandService.Contracts.ICommandWebService"
        name="CommandWebServiceClient" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="withMetadataAndDebugging">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>
